  <script>
    function click_to_toggle (el) {
      $(el).find('span.toggler').toggleClass('click-to-close');
      $(el).next().toggle();
    }
  </script>
  <section id="dashboard">
    <header>
      <h4 style="padding-left:0">ADMIN DASHBOARD <small>[ <a href="/admin/logout">Logout</a> ]</small></h4>
      <%= image_tag "logo.png", :style => "height: 70px; width: 70px; position: absolute; top: 0; right: 0;"%>
    </header>
    <div style="min-width: 960px; min-height: 600px; background:white">
      <nav>
        <ul>
          <li class="active"><a href="#">Elenco Utenti</a></li>
          <li><a href="#">Statistics</a></li>
        </ul>
      </nav>
      <table>
        <tr>
          <th>Picture</th>
          <th>Id</th>
          <th>Full Name</th>
          <th>Email</th>
          <th>&nbsp;</th>
        </tr>
        <!-- bof fake data -->
        <% @users.each do |user| %>
        <tr onclick="click_to_toggle(this)" class="toggler-click">
          <td> <%= image_tag user.picture %> <%= user.provider %></td>
          <td> <%= user.username %> </td>
          <td> <%= user.full_name %> </td>
          <td> <%= user.email %> </td>
          <td>
            <span class="toggler">&raquo;</span>
          </td>
        </tr>
        <tr hidden class="toggler-data">
          <td colspan="6">
            <ul>
              <% user.activities(session[:admin]).each do |activity| %>
                <li>
                  <%= activity.date %> |
                  <%= activity.verb %> |
                  <%= activity.url %> |
                  <%= activity.name %> |
                  <%= activity.categories %>
                </li>
              <% end %>
            </ul>
          </td>
        </tr>
        <% end %>
        <!-- eof fake data -->
      </table>
    </div>
  </section>
