  <script>
    function click_to_toggle (el) { $(el).find('span.toggler').toggleClass('click-to-close'); $(el).next().toggle(); }
  </script>
  <section id="dashboard">
    <header>
      <h4>
        ADMIN DASHBOARD &raquo; <%= Customer.find(params[:id]).api_name %>
        <a href="/admin/logout">&nbsp;<small>[ Logout ]</small></a>
      </h4>
      <%= image_tag "logo.png", :style => "height: 70px; width: 70px; position: absolute; top: 0; right: 0;"%>
    </header>
    <div style="min-width: 960px; min-height: 600px; background:white">
      <nav>
        <ul>
          <li class="active"><a href="#">Elenco Utenti</a></li>
          <li><a href="#">Statistics</a></li>
        </ul>
      </nav>
      <table>
        <tr>
          <th>Picture</th>
          <th class="align-left">Id</th>
          <th>Full Name</th>
          <th>Email</th>
          <th>&nbsp;</th>
        </tr>
        <% @users.each do |user| %>
        <tr onclick="click_to_toggle(this)" class="toggler-click">
          <td>
              <%= image_tag user.picture, :class => "user-picture" %>
          </td>
          <td class="align-left">
            <span class="provider icon-<%= user.provider.downcase %>-sign"></span> <%= user.username %>
          </td>
          <td>
            <%= user.full_name %>
          </td>
          <td>
            <%= user.email %>
          </td>
          <td>
            <span class="toggler">&raquo;</span>
          </td>
        </tr>
        <tr hidden class="toggler-data">
          <td colspan="6">
            <ul id="activities">
              <% user.activities(session[:admin]).each do |activity| %>
                <li>
                  <span class="tag date">
                    <i class="icon-calendar"></i> <%= activity.date.strftime("%d-%m-%y %H:%M:%S") %>
                  </span>

                  <% if activity.verb == "FAVOURITE" %>
                  <span class="tag bean">
                    <i class="icon-star"></i> <%= activity.verb %>
                  </span>
                  <% else %>
                  <span class="tag" data-provider="<%= user.provider %>">
                    <i class="icon-<%= user.provider.downcase %>-sign"></i> <%= activity.verb %>
                  </span>
                  <% end %>

                  <% if activity.name.present? ||  activity.url.present? %>
                  <span class="tag name">
                    <% if activity.name.present? %>
                      <i class="icon-comment-alt"></i> <%= activity.name %>
                    <% end %>
                    <% activity.url.each do |url| %>
                      &raquo; <%= link_to url.sub(/^https?\:\/\//, '').sub(/^www\./, '').sub(/\/+$/, ''), 'http://' + url.sub(/^https?\:\/\//, '') %>
                    <% end %>
                  </span>
                  <% end %>

                  <% activity.categories.each do |category| %>
                  <span class="tag category"><i class="icon-tags"></i> <%= category %></span>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </td>
        </tr>
        <% end %>
      </table>
    </div>
  </section>
