  <script>
    function str_pad (input, pad_length, pad_string, pad_type) { // http://phpjs.org/functions/str_pad/
      var half = '', pad_to_go, str_pad_repeater = function (s, len) {
        var collect = '', i;
        while (collect.length < len) { collect += s; }
        collect = collect.substr(0, len);
        return collect;
      };
      input += '';
      pad_string = pad_string !== undefined ? pad_string : ' ';
      if (pad_type !== 'STR_PAD_LEFT' && pad_type !== 'STR_PAD_RIGHT' && pad_type !== 'STR_PAD_BOTH') pad_type = 'STR_PAD_RIGHT';
      if ((pad_to_go = pad_length - input.length) > 0) {
        if (pad_type === 'STR_PAD_LEFT') {
          input = str_pad_repeater(pad_string, pad_to_go) + input;
        } else if (pad_type === 'STR_PAD_RIGHT') {
          input = input + str_pad_repeater(pad_string, pad_to_go);
        } else if (pad_type === 'STR_PAD_BOTH') {
          half = str_pad_repeater(pad_string, Math.ceil(pad_to_go / 2));
          input = half + input + half;
          input = input.substr(0, pad_length);
        }
      }
      return input;
    }

    function click_to_toggle (element) {
      var $element = $(element)
        , $tabScreen = $element.parents('tr').next()
        , $tabData = $tabScreen.children('td')
      if ( $element.hasClass('active') ) {
        $element.removeClass('active')
        $tabData.html('<span>Loading...</span>')
        $tabScreen.hide()
        return
      }
      $element.siblings('button').removeClass('active')
      $element.addClass('active')
      $tabScreen.show()
      $.get('async_'+ $element.attr('data-toggle') + '?username=' + $element.attr('data-user'), function( data ) {
        $tabData.html(data)
      })
    }

    function click_to_show_activities (event, element) {
      event.preventDefault(); // prevent default on-click action

      var knob = $(element).parents('span'),
          template = '<li> \
            <span class="tag date" style="margin-right: 10px">{date}</span> \
            <span class="tag name" data-provider="{verb-provider}"><i class="{verb-class}"></i>{verb}</span> \
            <span class="tag">{name}{url}</span> \
          </li>';

      knob.toggleClass('subtab-knob-open');

      knob.next('div.subtab').toggle();

      if ( !knob.hasClass('subtab-knob-open') ) { knob.next('div.subtab').html('<center>Loading...</center>'); return false; }

      $.ajax({ type: "GET", url: "/admin/activities?" + $(element).attr("data-activities-id"), dataType: 'json' }).done(function( json ) {
        var _html = '';
        $(json).each(function(i, activity){
          var urls = '', date = new Date(activity.timestamp);

          $(activity.url).each(function(i, url){
            urls += ' &raquo; <a href="http://'+ url.replace(/^https?\:\/\//, '') +'" target="_blank">'+ url.replace(/^https?\:\/\//, '').replace(/^www\./, '').replace(/\/+$/,'') +'</a>'
          });

          var verb_class = (activity.verb == "FAVOURITE") ? "icon-star" : ((activity.verb == "TWEET") ? "icon-twitter-sign" : "icon-facebook-sign")
          var verb_provider = (activity.verb == "FAVOURITE") ? "bc" : ((activity.verb == "TWEET") ? "tw" : "fb")
          var tpl = template
            .replace('{verb-provider}', verb_provider)
            .replace('{verb-class}', verb_class)
            .replace('{verb}', activity.verb)
            .replace('{name}', activity.name)
            .replace('{url}', urls )
            .replace('{date}',
              str_pad( date.getDate(), 2, '0', 'STR_PAD_LEFT') + '-' +
              str_pad( date.getMonth() + 1, 2, '0', 'STR_PAD_LEFT') +'-'+
              str_pad( date.getFullYear(), 2, '0', 'STR_PAD_LEFT') + ' '+
              str_pad( date.getHours(), 2, '0', 'STR_PAD_LEFT') + ':' +
              str_pad( date.getMinutes(), 2, '0', 'STR_PAD_LEFT') +':'+
              str_pad( date.getSeconds(), 2, '0', 'STR_PAD_LEFT')
            );
          _html += tpl;
        });

        knob.next('div.subtab').html('').append($('<ul>').html(_html));
      });
    }
  </script>
  <style> button { outline: none } </style>
  <section id="dashboard">
    <header>
      <h4>
        <% if current_admin.super? %>
          <%= link_to 'ADMIN DASHBOARD', admin_customers_dashboard_url %>
        <% else %>
          ADMIN DASHBOARD
        <% end %>
        &nbsp;&raquo;&nbsp;<%= Customer.find(params[:id]).api_name %>
        <a href="/admin/logout">&nbsp;<small>[ Logout ]</small></a>
      </h4>
      <%= image_tag "logo.png", :style => "height: 70px; width: 70px; position: absolute; top: 0; right: 0;"%>
    </header>
    <div style="min-width: 960px; min-height: 600px; background:white">
      <nav>
        <ul>
          <% if current_admin.super? %>
          <li>
            <%= link_to 'Elenco Customer', admin_customers_dashboard_url %>
          </li>
          <% end %>
          <li class="active"><a href="#">Elenco Utenti</a></li>
        </ul>
      </nav>
     <%= will_paginate @users %>
      <table>
        <tr>
          <th>Picture</th>
          <th class="align-left">Id</th>
          <th>Full Name</th>
          <th>Email</th>
          <th>&nbsp;</th>
        </tr>
        <% @users.each do |user| %>
        <tr class="user">
          <td>
            <%= image_tag user.picture, :class => "user-picture", :onerror => "this.src='/user-placeholder.jpg'" %>
          </td>
          <td class="align-left">
            <% user.providers.each do |provider| %>
              <span class="provider icon-<%= provider.downcase %>-sign"></span>
            <% end %>
            <%= user.username %>
          </td>
          <td>
            <%= user.full_name %>
          </td>
          <td>
            <%= user.email %>
          </td>
          <td class="align-right">
            <button class="subtab-button" onclick="click_to_toggle(this)" data-toggle="activities" data-user="<%= user.username %>">
              <i class="icon-th-list"></i> Activities
            </button>
            <button class="subtab-button" onclick="click_to_toggle(this)" data-toggle="categories" data-user="<%= user.username %>">
              <i class="icon-sitemap"></i> Categories
            </button>
            <button class="subtab-button" onclick="click_to_toggle(this)" data-toggle="interests" data-user="<%= user.username %>">
              <i class="icon-tasks"></i> Interests
            </button>
          </td>
        </tr>
        <tr hidden class="toggler-screen">
          <td colspan="6">
            <span>Loading...</span>
          </td>
        </tr>
        <% end %>
      </table>
    </div>
  </section>
