  <script>
    function click_to_toggle (el) {
      $(el).find('span.toggler').toggleClass('click-to-close');
      $(el).next().toggle();
    }
  </script>
  <section id="dashboard">
    <header>
      <h4 style="padding-left:0">ADMIN DASHBOARD <small>[ <a href="/admin/logout">Logout</a> ]</small></h4>
      <%= image_tag "logo.png", :style => "height: 70px; width: 70px; position: absolute; top: 0; right: 0;"%>
    </header>
    <div style="min-width: 960px; min-height: 600px; background:white">
      <nav>
        <ul>
          <li class="active"><a href="#">Elenco Utenti</a></li>
          <li><a href="#">Statistics</a></li>
        </ul>
      </nav>
      <table>
        <tr>
          <th>Picture</th>
          <th>Id</th>
          <th>Full Name</th>
          <th>Email</th>
          <th>&nbsp;</th>
        </tr>
        <% @users.each do |user| %>
        <tr onclick="click_to_toggle(this)" class="toggler-click">
          <td>
              <%= image_tag user.picture, :class => "user-picture" %>
          </td>
          <td>
            <span class="provider icon-<%= user.provider.downcase %>-sign"></span> <%= user.username %>
          </td>
          <td>
            <%= user.full_name %>
          </td>
          <td>
            <%= user.email %>
          </td>
          <td>
            <span class="toggler">&raquo;</span>
          </td>
        </tr>
        <tr hidden class="toggler-data">
          <td colspan="6">
            <ul id="activities">
              <% user.activities(session[:admin]).each do |activity| %>
                <li>
                  <span class="tag date">
                    <%= activity.date.strftime("%d-%m-%y %H:%M:%S") %>
                  </span>
                  
                  <span class="tag" data-provider="<%= user.provider %>">
                    <span class="icon-<%= user.provider.downcase %>-sign"></span>
                    <%= activity.verb %>
                  </span>
                  
                  <% if activity.name.present? %>
                    <span class="tag ">
                      <a href="<%= activity.url %>">URL</a>
                    </span>
                  <% end %>

                  <% if activity.name.present? %>
                    <span class="tag name"><i class="icon-comment-alt"></i> <%= activity.name %></span>                   
                  <% end %>

                  <% #activity.categories.each do |category| %>
                  <% ['test', 'and', 'delete', 'me'].each do |category| %>
                    
                    <span class="tag category"><i class="icon-tags"></i> <%= category %></span>
                  <% end %>      
                </li>
              <% end %>
            </ul>
          </td>
        </tr>
        <% end %>
      </table>
    </div>
  </section>
