<!DOCTYPE html>
<html>
<head>
  <title>Beancounter</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag 'application', 'highcharts','tagcanvas.min', 'bootstrap' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <section>
    <nav>
      <%= image_tag "logo.png", :style => "height: 80px; width: 80px; position: absolute; top: 0;"%>
      <ul class="top-navigation">
        <li>
          <a>
            <% if current_user  %>
              Signed in as <%= current_user.name %> <%= link_to "Sign out", sign_out_path, id: "sign_out" %>
            <% end %>
          </a>
        </li>
        <li>
          <a>
            <% if ApplicationSettings.check_status %>
              <span style="background: rgba(68, 255, 143, 1); padding: 8px 10px; border-radius: 4px; color: white;">API ONLINE <%=ApplicationSettings.version%></span>
            <% else %>
              <span style="background: rgba(255, 68, 68, 1); padding: 8px 10px; border-radius: 4px; color: white;">API OFFLINE</span>
            <% end %>
          </a>
        </li>
      </ul>
    </nav>
    <%= render 'layouts/messages' %>
    <div>
      <%= yield %>
    </div>
  </section>

  <section>
    <header>
      <h1>Section</h1>
    </header>

    <h2>Lorem ipsum dolor sit amet...</h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, sapiente, soluta asperiores aut ullam accusantium ea cumque expedita architecto eligendi quas delectus tempore amet placeat beatae minus doloremque ducimus optio. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, delectus, odio harum laborum deleniti nisi ab. Neque, accusantium, hic, necessitatibus, eos consectetur aut sed voluptatibus tenetur est perferendis quisquam mollitia.</p>

  </section>

</body>
</html>
